# Session 6: Machine Learning
MSA 8010: Data Programming

### Exercise

1. Perform the following feature engineerings on the Titanic dataset and perform a logistic regression to predict a passenger is survived or not.
- Add a new column: `IsMinor` that is 1 people less than 14 years old, and 0 otherwise
- Change values of the `Sex` column to `1` for male, and `0` for female

2. Does changing train/test split to other ratio changes the accuracy?

#### Data description:

- **Survival** - Survival (0 = No; 1 = Yes)
- **Pclass** - Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
- **SibSp** - Number of Siblings/Spouses Aboard
- **Parch** - Number of Parents/Children Aboard
- **Ticket** - Ticket Number
- **Fare** - Passenger Fare
- **Embarked** - Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)

In [41]:
df_prediction = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df_prediction

     Actual  Predicted
0         1          1
1         0          0
2         0          0
3         1          0
4         1          0
..      ...        ...
174       0          0
175       0          0
176       0          0
177       0          0
178       0          0

[179 rows x 2 columns]