# Session 6: In-class Activity
MSA 8010: Data Programming

### Exercise

1. Perform the following feature engineerings on the Titanic dataset and perform a logistic regression to predict a passenger is survived or not.
- Add a new column: `IsMinor` that is 1 people less than 14 years old, and 0 otherwise
- Change values of the `Sex` column to `1` for male, and `0` for female

2. Does changing train/test split to other ratio changes the accuracy?

#### Data description:

- **Survival** - Survival (0 = No; 1 = Yes)
- **Pclass** - Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
- **SibSp** - Number of Siblings/Spouses Aboard
- **Parch** - Number of Parents/Children Aboard
- **Ticket** - Ticket Number
- **Fare** - Passenger Fare
- **Embarked** - Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)

In [20]:
df = pd.read_csv("data/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
df = df[~df['Age'].isna()]
df['IsMinor'] = 0
df['IsMinor'].loc[df['Age'] < 14] = 1

/Users/sabersoleymani/opt/anaconda3/envs/msa8010/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [24]:
import numpy as np
df['Sex'] = np.where(df['Sex']=='male', 1, 0)

In [25]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,IsMinor
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S,0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,0

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score, classification_report, precision_score, recall_score 
from sklearn.metrics import confusion_matrix, precision_recall_curve, roc_curve, auc, log_loss


Selected_features = ['Age', 'Fare','Pclass','Sex','Survived']
df = df[Selected_features]
X = df.drop(columns=['Survived'])
y = df['Survived'].values

for s in [0.15,0.2,0.25,0.3,0.35]:
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=s)
    model = LogisticRegression()
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print("Test size:",s, "Accuracy: ",accuracy_score(y_test, y_pred))

Test size: 0.15 Accuracy:  0.7407407407407407
Test size: 0.2 Accuracy:  0.7552447552447552
Test size: 0.25 Accuracy:  0.7094972067039106
Test size: 0.3 Accuracy:  0.6837209302325581
Test size: 0.35 Accuracy:  0.712